*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  outline: 0 !important; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 71.875em) {
    html {
      font-size: 48%; } }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #232323;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase; }

.heading {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2; }

.nav {
  background-color: #4682b4;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .nav h1 {
    font-size: 4rem;
    font-weight: 400; }
  .nav h2 {
    font-size: 3rem; }
  .nav__color {
    margin: 2rem;
    font-size: 6rem;
    margin-bottom: 2rem; }
  .nav__menu {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 0.5rem 2rem; }
  .nav__links {
    max-width: 85rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }
    .nav__links > * {
      margin: 0 1rem; }
    .nav__links :first-child {
      margin-right: auto; }
    .nav__links a {
      text-decoration: none;
      color: #4682b4;
      cursor: pointer; }

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .game__tittle {
    font-size: 3.5rem;
    margin: 4rem;
    text-align: center; }
  .game__rule {
    font-size: 2rem;
    text-transform: none; }
    .game__rule:not(:last-of-type) {
      margin-bottom: 2rem; }
  .game__grid {
    width: 70%;
    max-width: 80rem;
    margin-bottom: 4rem;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
    grid-auto-rows: minmax(10rem, 25rem);
    gap: 2rem; }
  .game__box {
    height: 100%;
    width: 100%; }
