//fonts
$font-primary: "Roboto", sans-serif;

//colors
$color-font: #ffffff;
$color-white: #ffffff;
$color-primary: #4682b4;
$color-background: #232323;

//margins
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-big: 4rem;

// Breakpoints
// 1em = 16px
$bp-large: 71.875em; // 1150 px
