<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Small game to practice your memory!" />

    <title>Guess the color! | Help</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body class="container">
    <nav class="nav">
      <h1 class="heading">Guess the color!</h1>
      <h2 class="heading">The RGB Challenge</h2>
      <p class="nav__color">
        Rules
      </p>
      <div class="nav__menu">
        <div class="nav__links">
          <p class="nav__link"><a href="../index.html">Go back</a></p>
          <p class="nav__link">
            <a href="https://github.com/HeradoclesJose">Github</a>
          </p>
        </div>
      </div>
    </nav>

    <section class="game">
      <h3 class="game__tittle heading">Rules</h3>
      <p class="game__rule">
        An RGB value will be given on the top of the website. After that, select
        the color you think is being represented.
      </p>
      <p class="game__rule">
        If you get the answer, you will get 5 points. If you are wrong, you will
        lose one point.
      </p>
      <p class="game__rule">
        If you get the answer wrong 3 times, you lose.
      </p>
      <p class="game__rule">
        This is a game for web developers and designers, so they can understand,
        learn and practice the RGB color model.
      </p>
    </section>
  </body>
</html>
